*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}








.header {
    width: 100%;
    line-height: 70px;
    background-color:#fb8b00;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    color: white;
    box-shadow: 5px 3px 15px -5px black;
    .title_img{
        width: 70px;
        height: 70px;
        @media screen and (max-width: 350px) {
            width: 50px;
            height: 50px;
          }
    }
    .title{
     font-size: 50px;
     @media screen and (max-width: 500px) {
        font-size: 40px;
      }
     @media screen and (max-width: 400px) {
        font-size: 30px;
      }
     @media screen and (max-width: 350px) {
        font-size: 25px;
      }
    }
}

.main_note{
    width: 500px;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
    @media screen and (max-width: 1100px) {
      width: 380px;
    }
    @media screen and (max-width: 400px) {
      width: 280px;
    }
}

.my_notes h1 {
    color: black;
}
.my_notes p{
    color: grey;
}

form {
    min-height: 50px;
    color: white;
    padding: 15px 10px 5px 10px;
    box-shadow: 0px 2px 20px 3px #020202;
    border-radius: 10px;
    position: relative;
    
}

input {
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
    text-transform: capitalize;
}

textarea{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 10px 0;
    text-transform: capitalize;
}

.MuiButton-root {
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: -28px;
    left: 400px;
    cursor: pointer;
    background-color: white !important;
    box-shadow: 5px 5px 15px -5px black;
    border-radius: 50% !important;
    @media screen and (max-width: 1100px) {
       left: 270px;
      }
    @media screen and (max-width: 400px) {
       left: 170px;
      }
}

.MuiButton-root .plus_sign {
   font-size: 45px !important; 
   font-weight: 900;
   color: #fb8b00;
   cursor: pointer;
   z-index: 222;
   background: transparent;
}

.MuiButton-root:hover {
    background: rgb(75, 192, 75) !important;
}
.MuiButton-root:hover .plus_sign {
    color: white;
    background: transparent;
}

.note {
    background: white;
    border-radius: 7px;
    box-shadow: 0px 2px 20px 3px #020202;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
    text-transform: capitalize;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note .btn {
    position:relative;
    float: right;
    margin-right: 10px;

    color: red;
    border: none;
    width: 50px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 15px -10px black;
    border-radius: 50%;
}

.deleteIcon{
    width: 0.7em;
    height: 0.7em;
}

.note .btn:hover {
    background-color: #f10000;
}

.note .btn:hover .deleteIcon {
    color: #fff;
}

footer{
    width: 100%;
    background-color:#fb8b00;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    .footer{
        font-size: 30px;
        @media screen and (max-width: 630px) {
            font-size: 25px;
          }
        @media screen and (max-width: 515px) {
            font-size: 20px;
          }
        @media screen and (max-width: 415px) {
            font-size: 18px;
          }
        @media screen and (max-width: 365px) {
            font-size: 15px;
          }
        @media screen and (max-width: 315px) {
            font-size: 12px;
          }
       }

}
p{
    font-size: 30px;
}
h1{
    margin-left: 20px;
    font-size: 50px;
}
.bjo{
    border-radius: 100px;
    background-color: black;
}

    
